body {
   background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    color: #1A0707;
    text-decoration: none;
  }



/*GRID*/
.grid-wrapper {
  display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr))
}

.box > img {
    width: 100%;
    height: 100%;
}

.box > img:hover{
  transform: scale(1.1);
}

.box {
   /* background-color: #C0C0C0;*/
    padding: 100px;
    margin: 20px;
}

footer {
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #b76e79;
  font-family: 'Metal Mania', cursive;
}

h1 { 
   position: relative; 
  bottom: 55px;
  left: 150px;
}

h3 {
    font-size: 4rem;
  color:  #b76e79;
  text-transform: uppercase;
  font-family: 'Metal Mania', cursive;
  text-align: center;

}

p {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}

p { 
   position: relative; 
  bottom: 55px;
  left: -5px;
}


h2 {
  font-size: 4rem;
  color:  #b76e79;
  text-transform: uppercase;
  font-family: 'Metal Mania', cursive;
  text-align: center;
}

h4 {
 font-family: 'Dancing Script', cursive;
  font-size: 40px;
  text-decoration: underline;
  text-transform: uppercase;
}

img {
height: 4%;
width: 20%;
}

img.rounded-corners {
  border-radius: 75px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
